
a {
    text-align: center;
    font-size: 18px;
    color: black;
    font-family:  sans-serif;
    text-decoration: none;
}
body{
    display: flex;
    align-items: flex-start;
}
.navbar {
    width: 98%;
    height: 60px;
    display: flex;
    align-items: flex-start;
    padding: 10px 10px 10px 10px;
    justify-content: space-between;
    background-color: whitesmoke;
    position: fixed;
    z-index: 999;
    /*  border: 2px solid red;*/
}

.navbar img {
    width: 25px;
    height: 25px;
}
.navbar button{
    height: 50px;
    background-color: none;
}
.btn-logo {
    width: 50px;
    border-radius: 50%;
    border: none;
}

.btn-item{
    border-radius: 20px;
    border: none;
    color: black;
    text-align: center;
    font-size: 14px;
    width: 80px;
}
.activate{
    background-color: black;
}
.activate a{
    color: white;
}

.btn-icon{
    border-radius: 100px;
    border: none;
    color: black;
    text-align: center;
    font-size: 14px;
    width: 50px;
    border-radius: 50%;
}
.btn-icon a{
    color: black;
    text-align: center;
    font-size: 18px;
}

input {

    width: 500px;
    height: 40px;
    border-radius: 20px;
}

.collectionImg {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: flex-end;
    border: 2px solid red;
}

.row {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    align-content:center;
    justify-content: center;
    /*border: 2px solid green;*/
    align-items: center;

    width: 18%;
    height: 18%;
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column; 
    /*border: 2px solid black;*/
}

.card-img{
    width: 100%;
    height: 100%;
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column; 
    /*border: 2px solid black;*/
}

.card-img img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}



